{% extends "base.html" %}
{% load staticfiles %}

{% block conteudo %}
<!-- HEADER SECTION -->
<div id="header-section">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-10 col-md-offset-1 col-sm-12">
				<h1><strong> NOME DA EMPRESA </strong>          
				 
				</h1>
				 <br /> <br /> <br />
				<h2> FRASE IMPACTO </h2>
				 <br />
			 <h3>  LEMA DA EMPRESA </h3>
				<br /><br />
			</div>
		</div>
	</div>
</div> 
<!--END HEADER SECTION -->

<!-- BASIC INFO SECTION -->
<div id="basic-info">
   <div class="container">
		<div class="row main-top-margin text-center">
			<div class="col-md-8 col-md-offset-2 " >
				<h1>Mensagem de boas vindas</h1>
				<h4>
				   breve descrição
				</h4>
			</div>
		</div>

		<div class="row main-low-margin text-center">
			<div class="col-md-4 col-sm-6"  >
				<div class="text-center">
					<i class="fa fa-5x color-green">
						<img id='portfolio' src={% static "img/logotipo.png" %}>
					</i>
					<h4>Titulo do Post lateral</h4>
					<p>
						descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do postdescricao do post descricao do post  
					</p>
				</div>
			</div>
		</div>

		<div class="row main-low-margin text-center">
	 
			<div class="col-md-12 col-sm-12  text-justify" >
				<h3> título do post vertical </h3>
				<p>
					<img id='portfolio' src={% static "img/logotipo.png" %}>
					descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post descricao do post 
				</p>
				
				<p>
					segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo segundo paragrafo 
				</p>
			</div>
			
		</div>
	</div>
</div>
<!--END BASIC INFO SECTION -->
{% endblock conteudo %}
