{% load staticfiles %}

<html>
<head>
	<title>:: Casa da Construção ::</title>
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

	{% block css %}
		<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
		<link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %}>
		<link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans'>
	{% endblock css %}

	{% block js %}
		<script type="text/javascript" src={% static "js/jquery.js" %}></script>
		<script type="text/javascript" src={% static "js/bootstrap.min.js" %}></script>
		<script type="text/javascript" src={% static "js/custom.js" %}></script>
	{% endblock js %}
</head>
<body>
	{% block cabecalho %}
		{% include "nav.html" %}
	{% endblock cabecalho %}
	{% block conteudo %}
	{% endblock conteudo %}
	{% block rodape %}
		{% include "rodape.html" %}
	{% endblock rodape %}
</body>
</html>