{% load staticfiles %}

 <!-- NAV SECTION -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src={% static "img/logotipo.png" %} class='logotipo'></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">HOME</a></li>
				<li><a href="/sobre/">QUEM SOMOS</a></li>
				<li><a href="/porfolio/">NOSSO PORTFOLIO</a></li>
				<li><a href="/servicos/">SERVIÇOS</a></li>
				 <li><a href="/precos/">MEDIA DE PREÇOS</a></li>
				<li><a href="#">FOUNDERS</a></li>
				<li><a href="/contato/">CONTATO</a></li>
			</ul>
		</div>
	   
	</div>
</div>
 <!--END NAV SECTION -->