  <!--FOOTER SECTION -->
<div id="footer">
	<div class="container">
		<div class="row">
			&copy; 2015 <a href="http://oxesoftware.com">oxesoftware.com</a> | All Right Reserved
		</div>
		
	</div>
</div>  
 <!--END FOOTER SECTION -->